.super-main{
    background-image: linear-gradient(to right bottom, #398b67, #008e8a, #008db6, #0086dd, #1873e9);
   
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 860px;
}
.container{

   
    background-image: linear-gradient(to right bottom, #c6e5d7, #a8dac8, #88cfbb, #61c4af, #27b9a6);
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

