
.super-main{
   
   
}

body{
    background-color: rgb(119, 206, 218);
}
.container{
    border-radius: 18px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.56);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.56);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.56);
    background-image: linear-gradient(to right bottom, #c6e5d7, #a8dac8, #88cfbb, #61c4af, #27b9a6);
}

